<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="styles/bootstrap.css" rel="stylesheet"/>
    <link href="styles/site.css" rel="stylesheet"/>
</head>
<body ng-controller="CalendarController">
<div class="site-content">
    <span>{{currentDate | date:'MMMM, yyyy'}}</span>
    <div class="table-responsive">
        <table class="table table-bordered table-calendar">
            <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="week in getCalendarDates(2014,10)">
                <td ng-repeat="date in week" ng-class="{'calendar-today': isToday(date)}">
                    <div>
                    <span style="font-size: 200%;font-weight: bold;">{{date | date:'d'}}</span>
                    <small>{{date | date:'MMM'}}</small>
                    </div>
                    <div style="margin-top: 5px;" ng-hide="true">
                        <a href="#" class="label label-default calendar-event">18:30 Victoria Park Toast</a>
                        <a href="#" class="label label-info calendar-event">18:30 Victoria Park Toast</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script src="scripts/vendor/jquery-2.1.1.js"></script>
<script src="scripts/vendor/bootstrap.js"></script>
<script src="scripts/vendor/angular.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/calendarController.js"></script>

</body>
</html>